/* Global Styles */
body {
    font-family: 'Inter', sans-serif;
    background-color: #157ec4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #004d40; /* KBÜ'ye yakın bir renk */
    color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0 0 5px 0;
    font-size: 1.8rem;
}

header p {
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.9;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: #555;
    font-size: 0.95px;
}